@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

.cabecalho-menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container {
    display: flex;
    align-items: center;
}
.container-imagem {
    padding: 1em;
}
.container-botao {
    display: none;
}
.lista-menu {
    display: none;
    position:absolute;
    top: 100%;
    width: 30vh;
}
.container-botao:checked~ .lista-menu {
    display: block;
}
.lista-menu-titulo {
    color: var(--laranja);
    font-weight: 700;
}
.lista-menu-link {
    background: var(--primaria);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
}
.lista-menu-titulo, .lista-menu-item {
    padding: 1em;
    background-color: var(--branco);
}